body{
    background-color: rgb(144, 175, 243);
}

.content{
    text-align: center;
    background-color: whitesmoke;
    width: 750px;
    height: 300px;
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3{
    margin-top: 100px;
}

.triangle-right{
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
	border-left: 50px solid #555;
    border-bottom: 25px solid transparent;
    background-color: gold;
    border-color: black;
}