{% extends 'base.html' %}

{% block title %}Virtual Business Card{% endblock %}


{% block body %}
<a href="https://github.com/aidang1003/business-card" >View the code to make this webpage here</a>
<br><br>
    <div class="content">

        <h1>Aidan Gorny</h1>
        <h2>University of Iowa</h2>
        <h2>B.B.A Business Analytics and Information Systems</h2>
        <img src="static\images\tigerhawk.png" alt="Tigerhawk" width="150px" height="100px">
        <h3>aidan-gorny@uiowa.edu</h3>
        <h4>(847)767-1593</h4>
     
    </div>

{% endblock %}